spin_manifest_version = 2

[application]
authors = ["Fermyon Engineering <engineering@fermyon.com>"]
name = "tinygo-outbound-redis-example"
version = "0.1.0"

[[trigger.http]]
route = "/publish"
component = "outbound-redis"

[component.outbound-redis]
source = "main.wasm"
environment = { REDIS_ADDRESS = "redis://127.0.0.1:6379", REDIS_CHANNEL = "messages" }
allowed_outbound_hosts = ["redis://127.0.0.1"]
[component.outbound-redis.build]
command = "tinygo build -target=wasi -gc=leaking -no-debug -o main.wasm main.go"
