target
.husky
# cache
node_modules
ignored-assets
main.wasm
.parcel-cache
.vscode/*.log
tests/**/Cargo.lock
crates/**/Cargo.lock
examples/**/Cargo.lock
tests/testcases/*-generated
spin-plugin-update.lock
package-lock.json
.spin
