[package]
name = "spin-cli"
version = "0.3.0"
edition = "2021"
authors = [ "Fermyon Engineering <engineering@fermyon.com>" ]

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
atty = "0.2"
bindle = { version = "0.8.0", default-features = false, features = ["client"] }
bytes = "1.1"
clap = { version = "3.1.15", features = ["derive", "env"] }
comfy-table = "5.0"
dirs = "4.0"
dunce = "1.0"
env_logger = "0.9"
futures = "0.3"
hippo-openapi = "0.8"
hippo = { git = "https://github.com/deislabs/hippo-cli"}
lazy_static = "1.4.0"
outbound-redis = { path = "crates/outbound-redis" }
path-absolutize = "3.0.11"
regex = "1.5.5"
reqwest = { version = "0.11", features = ["stream"] }
semver = "1.0"
serde = { version = "1.0", features = [ "derive" ] }
sha2 = "0.10.2"
spin-build = { path = "crates/build" }
spin-config = { path = "crates/config" }
spin-engine = { path = "crates/engine" }
spin-http-engine = { path = "crates/http" }
spin-loader = { path = "crates/loader" }
spin-manifest = { path = "crates/manifest" }
spin-publish = { path = "crates/publish" }
spin-redis-engine = { path = "crates/redis" }
spin-templates = { path = "crates/templates" }
spin-trigger = { path = "crates/trigger" }
tempfile = "3.3.0"
tokio = { version = "1.11", features = [ "full" ] }
toml = "0.5"
tracing = { version = "0.1", features = [ "log" ] }
tracing-futures = "0.2"
tracing-subscriber = { version = "0.3.7", features = [ "env-filter" ] }
url = "2.2.2"
wasi-outbound-http = { path = "crates/outbound-http" }
wasmtime = "0.35.3"

[target.'cfg(target_os = "linux")'.dependencies]
# This needs to be an explicit dependency to enable
# '--features openssl/vendored', which is used for Linux releases.
openssl = { version = "0.10" }

[dev-dependencies]
hyper = { version = "0.14", features = [ "full" ] }
sha2 = "0.10.1"

[build-dependencies]
cargo-target-dep = { git = "https://github.com/fermyon/cargo-target-dep", rev = "b7b1989fe0984c0f7c4966398304c6538e52fe49" }
vergen = { version = "7", default-features = false, features = [ "build", "git" ] }

[workspace]
members = [
    "crates/build",
    "crates/config",
    "crates/engine",
    "crates/http",
    "crates/loader",
    "crates/manifest",
    "crates/outbound-http",
    "crates/outbound-redis",
    "crates/redis",
    "crates/templates",
    "crates/testing",
    "crates/trigger",
    "examples/spin-timer",
    "sdk/rust",
    "sdk/rust/macro"
]

[[bin]]
name = "spin"
path = "src/bin/spin.rs"
