[package]
name = "spin-cli"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = "Apache-2.0 WITH LLVM-exception"
rust-version = "1.71"

[workspace.package]
version = "1.6.0-pre0"
authors = ["Fermyon Engineering <engineering@fermyon.com>"]
edition = "2021"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
bindle = { workspace = true }
bytes = "1.1"
chrono = "0.4"
clap = { version = "3.2.24", features = ["derive", "env"] }
clearscreen = "2.0.1"
command-group = "2.1"
comfy-table = "5.0"
ctrlc = { version = "3.2", features = ["termination"] }
dialoguer = "0.10"
dirs = "4.0"
dunce = "1.0"
futures = "0.3"
glob = "0.3.1"
hippo-openapi = "0.10"
hippo = { git = "https://github.com/deislabs/hippo-cli", tag = "v0.16.1" }
indicatif = "0.17.3"
is-terminal = "0.4"
itertools = "0.11.0"
lazy_static = "1.4.0"
levenshtein = "1.0.5"
nix = { version = "0.24", features = ["signal"] }
outbound-http = { path = "crates/outbound-http" }
outbound-redis = { path = "crates/outbound-redis" }
spin-key-value = { path = "crates/key-value" }
spin-key-value-sqlite = { path = "crates/key-value-sqlite" }
path-absolutize = "3.0.11"
rand = "0.8"
regex = "1.5.5"
reqwest = { version = "0.11", features = ["stream"] }
rpassword = "7.0"
semver = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.82"
sha2 = "0.10.2"
terminal = { path = "crates/terminal" }
spin-app = { path = "crates/app" }
spin-bindle = { path = "crates/bindle" }
spin-build = { path = "crates/build" }
spin-common = { path = "crates/common" }
spin-config = { path = "crates/config" }
spin-doctor = { path = "crates/doctor" }
spin-http = { path = "crates/http" }
spin-trigger-http = { path = "crates/trigger-http" }
spin-loader = { path = "crates/loader" }
spin-manifest = { path = "crates/manifest" }
spin-oci = { path = "crates/oci" }
spin-plugins = { path = "crates/plugins" }
spin-redis-engine = { path = "crates/redis" }
spin-templates = { path = "crates/templates" }
spin-trigger = { path = "crates/trigger" }
tempfile = "3.8.0"
tokio = { version = "1.23", features = ["full"] }
toml = "0.6"
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.7", features = ["env-filter"] }
url = "2.2.2"
uuid = { version = "^1.0", features = ["v4"] }
wasmtime = { workspace = true }
watchexec = { git = "https://github.com/watchexec/watchexec.git", rev = "8e91d26ef6400c1e60b32a8314cbb144fa33f288" }
watchexec-filterer-globset = { git = "https://github.com/watchexec/watchexec.git", rev = "8e91d26ef6400c1e60b32a8314cbb144fa33f288" }
subprocess = "0.2.9"

[target.'cfg(target_os = "linux")'.dependencies]
# This needs to be an explicit dependency to enable
# '--features openssl/vendored', which is used for Linux releases.
openssl = { version = "0.10" }

[dev-dependencies]
hyper = { version = "0.14", features = ["full"] }
sha2 = "0.10.1"
which = "4.2.5"
e2e-testing = { path = "crates/e2e-testing" }

[build-dependencies]
cargo-target-dep = { git = "https://github.com/fermyon/cargo-target-dep", rev = "b7b1989fe0984c0f7c4966398304c6538e52fe49" }
vergen = { version = "^8.2.1", default-features = false, features = [
  "build",
  "git",
  "gitcl",
  "cargo",
] }

[features]
default = ["llm"]
all-tests = ["e2e-tests", "outbound-redis-tests", "config-provider-tests"]
config-provider-tests = []
e2e-tests = []
outbound-redis-tests = []
llm = ["spin-trigger-http/llm"]
llm-metal = ["llm", "spin-trigger-http/llm-metal"]
llm-cublas = ["llm", "spin-trigger-http/llm-cublas"]

[workspace]
members = ["crates/*", "sdk/rust", "sdk/rust/macro"]

[workspace.dependencies]
tracing = { version = "0.1", features = ["log"] }
wasmtime-wasi = { version = "13.0.0", features = ["tokio"] }
wasi-common-preview1 = { version = "13.0.0", package = "wasi-common" }
wasmtime = { version = "13.0.0", features = ["component-model"] }
spin-componentize = { git = "https://github.com/fermyon/spin-componentize", rev = "0fa79bfc60f20c172213e2a2c34bd0b3168960b0" }

[workspace.dependencies.bindle]
git = "https://github.com/fermyon/bindle"
tag = "v0.8.2"
default-features = false
features = ["client"]

[[bin]]
name = "spin"
path = "src/bin/spin.rs"
