[package]
name = "spin-cli"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = "Apache-2.0 WITH LLVM-exception"
rust-version = "1.64"

[workspace.package]
version = "0.6.0"
authors = [ "Fermyon Engineering <engineering@fermyon.com>" ]
edition = "2021"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
bindle = { workspace = true }
bytes = "1.1"
chrono = "0.4"
clap = { version = "3.1.15", features = ["derive", "env"] }
cloud = { path = "crates/cloud" }
cloud-openapi = { git = "https://github.com/fermyon/cloud-openapi" }
comfy-table = "5.0"
ctrlc = { version = "3.2", features = ["termination"] }
dialoguer = "0.10"
dirs = "4.0"
dunce = "1.0"
futures = "0.3"
hippo-openapi = "0.10"
hippo = { git = "https://github.com/deislabs/hippo-cli", tag = "v0.16.1" }
is-terminal = "0.4"
lazy_static = "1.4.0"
nix = { version = "0.24", features = ["signal"] }
outbound-http = { path = "crates/outbound-http" }
outbound-redis = { path = "crates/outbound-redis" }
path-absolutize = "3.0.11"
rand = "0.8"
regex = "1.5.5"
reqwest = { version = "0.11", features = ["stream"] }
rpassword = "7.0"
semver = "1.0"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0.82"
sha2 = "0.10.2"
spin-build = { path = "crates/build" }
spin-config = { path = "crates/config" }
spin-http = { path = "crates/http" }
spin-loader = { path = "crates/loader" }
spin-manifest = { path = "crates/manifest" }
spin-plugins = { path = "crates/plugins" }
spin-publish = { path = "crates/publish" }
spin-redis-engine = { path = "crates/redis" }
spin-templates = { path = "crates/templates" }
spin-trigger = { path = "crates/trigger" }
tempfile = "3.3.0"
tokio = { version = "1.11", features = [ "full" ] }
toml = "0.5"
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.7", features = [ "env-filter" ] }
url = "2.2.2"
uuid = "^1.0"
wasmtime = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
# This needs to be an explicit dependency to enable
# '--features openssl/vendored', which is used for Linux releases.
openssl = { version = "0.10" }

[dev-dependencies]
hyper = { version = "0.14", features = [ "full" ] }
sha2 = "0.10.1"
which = "4.2.5"

[build-dependencies]
cargo-target-dep = { git = "https://github.com/fermyon/cargo-target-dep", rev = "b7b1989fe0984c0f7c4966398304c6538e52fe49" }
vergen = { version = "7", default-features = false, features = [ "build", "git" ] }

[features]
default = []
e2e-tests = []
outbound-redis-tests = []
config-provider-tests = []
outbound-pg-tests = []

[workspace]
members = [
    "crates/abi-conformance",
    "crates/app",
    "crates/build",
    "crates/config",
    "crates/core",
    "crates/http",
    "crates/loader",
    "crates/manifest",
    "crates/outbound-http",
    "crates/outbound-redis",
    "crates/plugins",
    "crates/redis",
    "crates/templates",
    "crates/testing",
    "crates/trigger",
    "sdk/rust",
    "sdk/rust/macro"
]

[workspace.dependencies]
tracing = { version = "0.1", features = ["log"] }
wasi-cap-std-sync = "3.0.0"
wasi-common = "3.0.0"
wasmtime = "3.0.0"
wasmtime-wasi = { version = "3.0.0", features = ["tokio"] }

[workspace.dependencies.bindle]
git = "https://github.com/fermyon/bindle"
tag = "v0.8.2"
default-features = false
features = ["client"]

[workspace.dependencies.wit-bindgen-wasmtime]
git = "https://github.com/fermyon/wit-bindgen-backport"
rev = "b84eb01c20d9ed7964cb8f296ccdc44e639019ce"
features = ["async"]

[[bin]]
name = "spin"
path = "src/bin/spin.rs"
