[package]
name = "spin-trigger"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }

[features]
llm = ["spin-llm-local"]
llm-metal = ["llm", "spin-llm-local/metal"]
llm-cublas = ["llm", "spin-llm-local/cublas"]
# Enables loading AOT compiled components, a potentially unsafe operation. See
# `<TriggerLoader as Loader>::::enable_loading_aot_compiled_components`
# documentation for more information about the safety risks.
unsafe-aot-compilation = []

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
clap = { version = "3.1.15", features = ["derive", "env"] }
ctrlc = { version = "3.2", features = ["termination"] }
dirs = "4"
futures = "0.3"
indexmap = "1"
ipnet = "2.9.0"
outbound-http = { path = "../outbound-http" }
outbound-redis = { path = "../outbound-redis" }
outbound-mqtt = { path = "../outbound-mqtt" }
outbound-pg = { path = "../outbound-pg" }
outbound-mysql = { path = "../outbound-mysql" }
rustls-pemfile = "2.1.2"
rustls-pki-types = "1.7.0"
spin-common = { path = "../common" }
spin-expressions = { path = "../expressions" }
spin-key-value = { path = "../key-value" }
spin-key-value-azure = { path = "../key-value-azure" }
spin-key-value-redis = { path = "../key-value-redis" }
spin-key-value-sqlite = { path = "../key-value-sqlite" }
spin-outbound-networking = { path = "../outbound-networking" }
spin-sqlite = { path = "../sqlite" }
spin-sqlite-inproc = { path = "../sqlite-inproc" }
spin-sqlite-libsql = { path = "../sqlite-libsql" }
spin-world = { path = "../world" }
spin-llm = { path = "../llm" }
spin-llm-local = { path = "../llm-local", optional = true }
spin-llm-remote-http = { path = "../llm-remote-http" }
spin-telemetry = { path = "../telemetry" }
sanitize-filename = "0.4"
serde = "1.0.188"
serde_json = "1.0"
spin-app = { path = "../app" }
spin-core = { path = "../core" }
spin-loader = { path = "../loader" }
spin-manifest = { path = "../manifest" }
spin-variables = { path = "../variables" }
terminal = { path = "../terminal" }
tokio = { version = "1.23", features = ["fs"] }
toml = "0.5.9"
url = "2"
spin-componentize = { workspace = true }
tracing = { workspace = true }
wasmtime = { workspace = true }
wasmtime-wasi = { workspace = true }
wasmtime-wasi-http = { workspace = true }

[dev-dependencies]
tempfile = "3.8.0"