[package]
name = "spin-trigger"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
clap = { version = "3.1.15", features = ["derive", "env"] }
ctrlc = { version = "3.2", features = ["termination"] }
dirs = "4"
futures = "0.3"
oci-distribution = { git = "https://github.com/radu-matei/oci-distribution", branch = "update-dockerhub-default-registry" }
outbound-http = { path = "../outbound-http" }
outbound-redis = { path = "../outbound-redis" }
outbound-pg = { path = "../outbound-pg" }
outbound-mysql = { path = "../outbound-mysql" }
sanitize-filename = "0.4"
serde = "1.0"
serde_json = "1.0"
spin-app = { path = "../app" }
spin-config = { path = "../config" }
spin-core = { path = "../core" }
spin-loader = { path = "../loader" }
spin-manifest = { path = "../manifest" }
tokio = { version = "1.23", features = [ "full" ] }
toml = "0.5.9"
tracing = { workspace = true }
url = "2"
wasmtime = { workspace = true }

[dev-dependencies]
tempfile = "3.3.0"
toml = "0.5"
tokio = { version = "1.23", features = ["rt", "macros"] }
