[package]
name = "spin-trigger"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true

[features]
# Enables loading AOT compiled components, a potentially unsafe operation. See
# `ComponentLoader::enable_loading_aot_compiled_components`
# documentation for more information about the safety risks.
unsafe-aot-compilation = []

[dependencies]
anyhow = { workspace = true }
clap = { version = "3.1.18", features = ["derive", "env"] }
ctrlc = { version = "3.2", features = ["termination"] }
futures = { workspace = true }
sanitize-filename = "0.5"
serde = { workspace = true }
serde_json = { workspace = true }
spin-app = { path = "../app" }
spin-common = { path = "../common" }
spin-componentize = { path = "../componentize" }
spin-compose = { path = "../compose" }
spin-core = { path = "../core" }
spin-factor-key-value = { path = "../factor-key-value" }
spin-factor-sqlite = { path = "../factor-sqlite" }
spin-factor-wasi = { path = "../factor-wasi" }
spin-factors = { path = "../factors" }
spin-factors-executor = { path = "../factors-executor" }
spin-telemetry = { path = "../telemetry" }
tokio = { workspace = true, features = ["fs", "rt"] }
tracing = { workspace = true }

[dev-dependencies]
spin-world = { path = "../world" }
tempfile = { workspace = true }

[lints]
workspace = true
