<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">{{site.info.about}}</p>
        </div>

        <div class="p-4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled">
                {{#with site.info.extra}}
                {{#if github }}<li><a href="{{github}}">GitHub</a></li>{{/if}}
                {{#if twitter }}<li><a href="{{twitter}}">Twitter</a></li>{{/if}}
                {{#if facebook }}<li><a href="{{facebook}}">Facebook</a></li>{{/if}}
                {{/with}}
            </ol>
        </div>
    </div>
</div>
