{{! See content_top.hbs }}
</div>
</main>
<footer>
    {{#if site.info.extra.copyright }}
    <p>&copy; {{site.info.extra.copyright}}</p>
    {{/if}}
</footer>
</div><!-- End main container -->
</body>

</html>