[package]
name = "outbound-pg"
version = "0.2.0"
edition = "2021"

[lib]
doctest = false

[dependencies]
anyhow = "1.0"
spin-core = { path = "../core" }
tokio = { version = "1", features = [ "rt-multi-thread" ] }
tokio-postgres = { version = "0.7.7" }
tracing = { version = "0.1", features = [ "log" ] }

[dependencies.wit-bindgen-wasmtime]
git = "https://github.com/bytecodealliance/wit-bindgen"
rev = "cb871cfa1ee460b51eb1d144b175b9aab9c50aba"
features = ["async"]
