[package]
name = "outbound-http"
version = "0.2.0"
edition = "2021"
authors = ["Fermyon Engineering <engineering@fermyon.com>"]

[lib]
doctest = false

[dependencies]
anyhow  = "1.0"
bytes = "1"
futures = "0.3"
http = "0.2"
reqwest = { version = "0.11", default-features = true, features = [ "json", "blocking" ] }
spin-engine = { path = "../engine" }
spin-manifest = { path = "../manifest" }
tracing = { version = "0.1", features = [ "log" ] }
url = "2.2.1"

[dependencies.wit-bindgen-wasmtime]
git = "https://github.com/bytecodealliance/wit-bindgen"
rev = "cb871cfa1ee460b51eb1d144b175b9aab9c50aba"
features = ["async"]