<footer class="container is-fullwidth is-shallow">
    <div class="footer-nav">
        <div class="columns">
            <div class="column is-one-quarter">
                <p>
                    <a href="https://fermyon.com">
                        <img src="{{site.info.base_url}}/static/image/logo-badge.png" alt="Fermyon" />
                    </a>
                </p>
            </div>
            <div class="column">
                <nav class="navbar" role="navigation" aria-label="footer navigation">
                    <div class="navbar-end has-text-right">
                        <div class="navbar-item"><a href="https://twitter.com/fermyontech">Twitter</a></div>
                        <div class="navbar-item"><a href="https://github.com/fermyon/spin">GitHub</a></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</footer>
    
<script src="{{site.info.base_url}}/static/js/headroom.min.js"></script>
<script src="{{site.info.base_url}}/static/js/highlight.min.js"></script>
<script src="{{site.info.base_url}}/static/js/main.js"></script>
