{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container is-fullwidth is-widescreen page-wrap">
    <div class="columns">

        {{! This adds the sidebar }}
        {{> content_sidebar }}

        <article class="column content content-docs content-docs-wide">
            <section id="type">
                <h1 class="blog-post-title border-bottom">{{page.head.title}}</h1>

                {{{page.body}}}

            </section>
        </article>

    </div>
</main>

{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}

</body>
</html>
