{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container is-fullwidth is-widescreen page-wrap">
    <div class="columns">

        {{! This adds the sidebar }}
        {{> content_sidebar }}

        <article class="column content content-docs content-docs-wide">
            <section id="type">
                {{#with page.frontmatter}}
                <h1 class="blog-post-title border-bottom">{{title}}</h1>
                <hr class="page-break" />

                <p class="blog-post-meta">{{#if extra.date}}Published: {{extra.date}}{{/if}}</p>
                {{/with}}

                {{{page.body}}}

            </section>
        </article>

    </div>
</main>

{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}

</body>
</html>