/* FERMYON SHINY VENEER
=======================
For the benefit of browser-based experiences, websites and application user 
interfaces. This Sass file should be compiled to a CSS stylesheet and served 
after a base framework such as Bulma, Bootstrap or similar base grid system.

to generate to css:
https://sass-lang.com/install 

then run:
sass --watch static/sass/styles.scss static/css/style.css --style compressed


TABLE OF CONTENTS
================= */
@import "../../node_modules/@fermyon/styleguide/scss/fermyon";
    /* 
    npm package 'fermyon-styleguide':
    =================================
    0.1. Brand Colors
    0.2. Variables and Mixins
    0.3. Global Layout
    0.4. Typography
    0.5. Responsive Media Queries

1.1. Spin: Docs Styles
*/

/* 1.1 Spin: Docs Styles
*/

.documentation {
    .content {
        padding-top: 8.5rem;

        h1 {
            margin-top: 2rem;
            position: relative;
            padding-bottom: 2.67rem;
        }

        &.content-docs-wide {
            p {
                line-height: 1.725;
            }
        }
    }

    aside.menu {
        padding-bottom: 7.5rem;
    }
}

@media screen and (max-width: 1023px) {
    .documentation {
        .content {
            h1 {
                font-size: 6.333vw;
            }

            h2 {
                font-size: 5vw;
            }

            h3 {
                font-size: 3.33vw;
            }
        }
    }
}