[package]
name = "spin-sdk"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }

[lib]
name = "spin_sdk"

[dependencies]
anyhow = "1"
bytes = "1"
form_urlencoded = "1.0"
http = "0.2"
spin-macro = { path = "macro" }
wit-bindgen-rust = { git = "https://github.com/bytecodealliance/wit-bindgen", rev = "cb871cfa1ee460b51eb1d144b175b9aab9c50aba" }
